.class-page-card {
    width: 42vw;
    min-height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 15px;
}

.info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.edit-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.edit-button-container {
    justify-content: start;
    flex-grow: 1;
}

.enter-score {
    max-width: 100px;
    max-height: 40px;
}

.edit-student-button-stack {
    margin-top: 15px;
}